/* -- GENERALES -- */
* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif
}

/* -- HEADEEEEEEEEEEEEEEEEEEEEEER -- */
.container__principalHeader {
  width: 100vw;
  height: 8vh;
  background-color: #ae2012;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container__contentHeader {
  width: 65%;
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;
}

.headerSearch {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1vh;
}

.inputHeader {
  border-radius: 0.5rem;
  border: none;
  padding: 0.4rem;
  outline: none;
  height: 2vh;
  width: 20vw;
  font-size: 1.8vh;
}

.buttonSearch {
  border: 1px solid white;
  background-color: transparent;
  border-radius: 0.4rem;
  padding: 0.2rem;
  width: 9vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  transition: .2s ease;

}

.buttonSearch:hover,
.header__buttonAdd:hover {
  cursor: pointer;
  background-color: #c54a3e;
}

.header__buttonAdd {
  width: 13vw;
  border-radius: 0.4rem;
  padding: 0.2rem;
  border: 1px solid white;
  background-color: transparent;
  color : white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: .2s ease;
}

 /* -- MAIN -- */
 .container__view {
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
 }

 .listAside {
  background-color: #ee9b00;
  height: 92vh;
 }

 .store {
  background-color: #e9d8a6;
  height: 92vh;
 }

 /* -- LIST ASIDE -- */
 .listAside {
  display: flex;
  align-items: center;
  flex-direction: column;
 }

 .listAside h2 {
  display: flex;
  margin-top: 2vh;
  font-size: 4vh;
  justify-content: center;
  align-items: center;
 }

 .listAside ul {
  margin-top: 3vh;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 1vh;
 }

 .listAside ul li {
  font-size: 2.5vh;
  font-weight: 500;
  padding: 0.4rem;
  border-radius: 0.4rem;
 }

 .liActive {
  background-color: #c54a3e;
  color: white;
 }